html,
body {
  height: 100%;
}

.root {
  padding: 16px;
}

.form-field {
  display: flex;
  padding: 4px;
}

.field {
  margin-right: 12px;
}

.field input {
  margin-left: 8px;
}

.error {
  color: red;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding: 8px;
}
.tr {
  padding: 4px;
}